__obj/Debug/src/bmp.o
__obj/Debug/src/main.o
__obj/Debug/src/gl_canvas2d.o
__bin/Debug/canvas2d.exe
trab1/LAB2.depend
__bin/Release/canvas2d.exe
__obj/Debug/src/Botao.o
__obj/Release/src/bmp.o
__obj/Release/src/Botao.o
__obj/Release/src/gl_canvas2d.o
__obj/Release/src/main.o
